<!-- *********************************  -->
<!--      Header                        -->
<!-- *********************************  -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"><img src="content/images/Sogeti-liten.png"></a>
    </div>
</div>
<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>


<!-- *********************************  -->
<!--      Main body                     -->
<!-- *********************************  -->
<div class="modal-body">
<!--  <p>{{modalOptions.bodyText}}</p>-->
    <div class="row">
        <div class="col-md-12">
            <div ng-controller="intUserController">
            <form class="form-login" role="form">
                <input type="text" class="form-control" placeholder="Username" ng-model="modalOptions.user.UserName" required autofocus>
                <input type="text" class="form-control" placeholder="First Name" ng-model="modalOptions.user.FirstName" required>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="modalOptions.user.LastName" required>
                <select ng-model="modalOptions.user.CustomerId" class="form-control" required>
                    <option ng-repeat="x in Customers" value="{{x.Id}}">{{x.CustomerName}}</option>
                </select>
            </form>
            </div>
        </div>
    </div>
</div>


<!-- *********************************  -->
<!--    Footer                          -->
<!-- *********************************  -->
<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>
