<!--
<div class="container-fluid ">
    <img class="img-responsive" src="content/images/QQCSI_top_noheadline.png" alt="Sogeti">
</div>
-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
    <div class="navbar-header">
        <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <a class="navbar-brand"><img src="content/images/Sogeti-liten.png"></a>
    </div>
</div>

<form class="form-login" role="form">
    <br><br>
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.Email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.Password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.ConfirmPassword" required>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.FirstName" required>
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.LastName" required>
    <select  ng-model="registration.CustomerId" class="form-control" required>
        <option ng-repeat="x in lovCustomers" value="{{x.Id}}">{{x.CustomerName}}</option>
    </select>
    <input type="checkbox" class="form-control" data-ng-model="registration.IsAdmin">
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>

<!--
<div class="row">
    <div class="col-md-12">
    <hr style ="display: block; height: 1px; border: 0; border-top: 1px solid #000; margin: 1em 0; padding: 0;">
        <h3 class="modal-body">Add User</h3>
        <table class="table-responsive modal-content">
            <tr>
                <td class="col-md-3"><label>User code:</label></td>
                <td style="border-bottom: 1px solid #000;" class="col-md-3"><input style="border:none" ng-model="modalOptions.user.UserCode"></td>
            </tr>
            <tr>
                <td class="col-md-3"><label>UserName:</label></td>
                <td style="border-bottom: 1px solid #000;" class="col-md-3"><input style="border:none" ng-model="modalOptions.user.UserName"></td>
            </tr>
            <tr>
                <td class="col-md-3"><label>UserEmail:</label></td>
                <td style="border-bottom: 1px solid #000;" class="col-md-3"><input style="border:none" ng-model="modalOptions.user.UserEmail"></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>
-->
