<div class="container">
    <div class="page-header text-left">
        <h1>CSI</h1>
    </div>
</div>

<div class="row">
<!--
    <div class="col-md-1">
        &nbsp;
    </div>
-->
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>CSI ID</th>
                    <th>Client Name</th>
                    <th>Client Email</th>
                    <th>Init. Client</th>
                    <th>Acc. Man. Name</th>
                    <th>Acc. Man. Email</th>
                    <th>Engagement</th>
                    <th>Project Nr</th>
                    <th>Deliv. Unit</th>
                    <th>Simple</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="csi in csis">
                    <td>
                        {{ csi.Id }}
                    </td>
                    <td>
                        {{ csi.ClientName }}
                    </td>
                    <td>
                        {{ csi.ClientEmail }}
                    </td>
                    <td>
                        {{ csi.InitiatedByClient }}
                    </td>
                    <td>
                        {{ csi.AccountManagerName }}
                    </td>
                    <td>
                        {{ csi.AccountManagerEmail }}
                    </td>
                    <td>
                        {{ csi.Engagement }}
                    </td>
                    <td>
                        {{ csi.ProjectNumber }}
                    </td>
                    <td>
                        {{ csi.DeliveryUnit }}
                    </td>
                    <td>
                       <input type="checkbox" data-ng-model="csi.SimpleCSI" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<!--
    <div class="col-md-1">
        &nbsp;
    </div>
-->
</div>
