<div ng-controller="intCustomerController">

    <div class="container">
        <div class="page-header text-left">
            <h1>{{pageTitle}}</h1>
        </div>
    </div>

    <div>{{error}}</div><div>{{information}}</div>
    <div><a class="pull-right" ng-click="addCustomer()">Create</a></div>
<!--    <div><button type="button" class="btn-info btn-m pull-right" ng-click="addCustomer()">New</button></div>    -->
    <br>
    <br>
    <div class="input-group">
        <input type="text" ng-model="searchText" class="form-control" placeholder="Search" >
        <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <table class="table table-hover">
        <tr class="bg-success">
            <th>
                <a ng-click="sortBy = 'Id'; sortDescending = !sortDescending">ID</a>
                <span ng-show="sortBy == 'Id' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'Id' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'CustomerCode'; sortDescending = !sortDescending">Company code</a>
                <span ng-show="sortBy == 'CustomerCode' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'CustomerCode' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'CustomerName'; sortDescending = !sortDescending">Company name</a>
                <span ng-show="sortBy == 'CustomerName' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'CustomerName' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'CustomerEmail'; sortDescending = !sortDescending">Company email</a>
                <span ng-show="sortBy == 'CustomerEmail' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'CustomerEmail' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'CreatedBy'; sortDescending = !sortDescending">Created by</a>
                <span ng-show="sortBy == 'CreatedBy' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'CreatedBy' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'UpdatedBy'; sortDescending = !sortDescending">Updated by</a>
                <span ng-show="sortBy == 'UpdatedBy' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'UpdatedBy' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th></th>
        </tr>

        <tr data-ng-repeat="customer in customers | filter: searchText | orderBy:sortBy:sortDescending" >
            <td ng-bind="customer.Id"></td>
            <td ng-bind="customer.CustomerCode"></td>
            <td><a ng-href="#/intCSIListForCustomer/?id={{customer.Id}}" ng-bind="customer.CustomerName"></a></td>
            <td ng-bind="customer.CustomerEmail"></td>
            <td ng-bind="customer.CreatedBy"></td>
            <td ng-bind="customer.UpdatedBy"></td>
            <td align="right">
<!--                <a ng-click="copyCustomer(customer)">Copy</a>&nbsp;&nbsp;-->
                <a ng-click="updateCustomer(customer)">Edit</a>&nbsp;&nbsp;
                <a ng-click="deleteCustomer(customer)">Del</a>&nbsp;&nbsp;
<!--
                <button type="button" class="btn-info btn-m" ng-click="copyCustomer(customer)">Copy</button>
                <button type="button" class="btn-info btn-m" ng-click="updateCustomer(customer)">Edit</button>
                <button type="button" class="btn-info btn-m" ng-click="deleteCustomer(customer)">Del</button>
-->
            </td>
        </tr>
    </table>
</div>
