<form name="changePasswordForm" class="form-login" role="form">
    <h2 class="form-login-heading">Change Password</h2>

    <input type="password" class="form-control" placeholder="Old Password" data-ng-model="userPassword.OldPassword" required autocomplete="off">
    <input type="password" class="form-control" placeholder="New Password" data-ng-model="userPassword.NewPassword" required validate-equals="confirmPassword" autocomplete="off">
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="userPassword.ConfirmPassword" required id="confirmPassword" name="confirmPassword" autocomplete="off">

    <div class="alert" ng-show="errorsExist()">
        <div ng-repeat="error in errorMessages">
            <strong>Warning:</strong> <span ng-bind="error"></span>
        </div>
    </div>

    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="changePassword()">Change</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
