<div ng-app="App.users" ng-controller="usersController">

    <div class="container">
        <div class="page-header text-left">
            <h1>{{pageTitle}}</h1>
        </div>
    </div>
    <div class="input-group">
        <input type="text" ng-model="searchText" class="form-control" placeholder="Search user" >
        <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <table class="table table-hover">
        <tr class="bg-success">
            <th>
                <a ng-click="sortBy = 'UserName'; sortDescending = !sortDescending">User Name</a>
                <span ng-show="sortBy == 'UserName' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'UserName' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'FirstName'; sortDescending = !sortDescending">First Name</a>
                <span ng-show="sortBy == 'FirstName' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'FirstName' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'LastName'; sortDescending = !sortDescending">Last Name</a>
                <span ng-show="sortBy == 'LastName' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'LastName' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'Email'; sortDescending = !sortDescending">Email</a>
                <span ng-show="sortBy == 'Email' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'Email' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'IsAdmin'; sortDescending = !sortDescending">Is Admin</a>
                <span ng-show="sortBy == 'IsAdmin' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'IsAdmin' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                <a ng-click="sortBy = 'CustomerId'; sortDescending = !sortDescending">Customer</a>
                <span ng-show="sortBy == 'CustomerId' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortBy == 'CustomerId' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th></th>
        </tr>
        <tr data-ng-repeat="user in users | filter: searchText | orderBy:sortBy:sortDescending" >
            <td ng-bind="user.UserName"></td>
            <td ng-bind="user.FirstName"></td>
            <td ng-bind="user.LastName"></td>
            <td ng-bind="user.Email"></td>
            <td ng-bind="user.IsAdmin"></td>
            <td ng-bind="user.CustomerName"></td>
        </tr>
    </table>
</div>
